@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro-Regular.otf") format("opentype");
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
}

body {
  padding: 0;
  margin: 0;
  background-color: #f7f7f7;
}

section:nth-child(n+3) {
  padding: 100px 0;
}

button {
  outline: 0;
}

.container {
  padding: 0;
}

.bg-grey {
  background-color: #f6f6f6;
}

.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}

.item span {
  font-style: normal;
}

.panel {
  border: 1px solid #f4511e;
  border-radius: 0 !important;
  transition: box-shadow 0.5s;
}

.panel:hover {
  box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.2);
}

.panel-footer .btn:hover {
  border: 1px solid #f4511e;
  background-color: #fff !important;
  color: #f4511e;
}

.panel-heading {
  color: #fff !important;
  background-color: #f4511e !important;
  padding: 25px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.panel-footer {
  background-color: white !important;
}

.panel-footer h3 {
  font-size: 32px;
}

.panel-footer h4 {
  color: #aaa;
  font-size: 14px;
}

.panel-footer .btn {
  margin: 15px 0;
  background-color: #f4511e;
  color: #fff;
}

.navbar {
  height: 100px;
  margin-bottom: 0;
  background-color: #000;
  z-index: 9999;
  border: 0;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
}

.navbar .navbar-header {
  height: 99px;
}

@media (max-width: 768px) {
  .navbar .navbar-collapse {
    max-height: calc(100vh - 100px);
    max-width: 50%;
    padding: 0;
  }
}

.navbar li a {
  height: 100px;
  line-height: 100px;
  padding: 5px;
  font-size: 12px;
  color: #fff !important;
  font-weight: 900;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: -0.3px;
  background-color: #000;
  text-align: center;
}

@media (max-width: 768px) {
  .navbar li a {
    height: 75px;
    line-height: 75px;
    padding: 0;
  }
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: #000;
}

.navbar-default .navbar-nav > .active > a:after, .navbar-default .navbar-nav > .active > a:focus:after, .navbar-default .navbar-nav > .active > a:hover:after {
  content: "";
  height: 6px;
  background-color: #b88b58;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

#home #myCarousel img {
  object-fit: cover;
  width: 100%;
  height: calc(100vh - 100px);
}

#home #myCarousel .carousel-inner {
  margin-top: 100px;
  height: calc(100vh - 100px);
}

#home #myCarousel .carousel-inner h1, #home #myCarousel .carousel-inner h2 {
  font-size: 72px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.958;
  text-align: center;
}

#home #myCarousel .carousel-inner h2 {
  color: #b88b58;
}

#home #myCarousel .carousel-inner p {
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.75;
  text-align: center;
  margin-bottom: 45px;
}

#home #myCarousel .carousel-inner a {
  border-radius: 20px;
  background-color: #b88b58;
  width: 194px;
  height: 45px;
  color: #fff;
  display: block;
  margin: 0 auto;
  line-height: 45px;
  transition: 0.6s;
  cursor: pointer;
}

#home #myCarousel .carousel-inner a:hover {
  text-decoration: none;
  background-color: #000;
}

#home #myCarousel .carousel-indicators li {
  border-color: #b88b58;
}

#home #myCarousel .carousel-indicators li.active {
  background-color: #b88b58;
}

#home #myCarousel .carousel-caption {
  top: 5%;
  left: 0;
  right: 0;
}

#about h1, #about h2 {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
}

#about h2 {
  font-size: 16px;
  color: #aeaeae;
}

#about p {
  font-size: 14px;
  font-family: "Myriad Pro";
  line-height: 1.786;
  text-align: left;
  margin-bottom: 60px;
}

#about video {
  width: 100%;
  -webkit-box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.5);
}

#about a {
  border-radius: 20px;
  background-color: #b88b58;
  width: 194px;
  height: 45px;
  display: block;
  line-height: 45px;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  transition: 0.6s;
  cursor: pointer;
}

#about a:hover {
  background-color: #000;
}

#services, #facts {
  background-color: #000;
}

#services h1, #facts h1 {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

#services h2, #facts h2 {
  color: #aeaeae;
  font-size: 16px;
}

#services h3, #facts h3 {
  font-size: 18px;
  font-family: "Myriad Pro";
  color: white;
  text-transform: uppercase;
  text-align: center;
}

#services h4, #facts h4 {
  color: #b88b58;
  font-size: 48px;
  font-size: 900;
  position: relative;
  margin-bottom: 30px;
}

#services h4:after, #facts h4:after {
  content: "";
  width: 19px;
  height: 2px;
  background-color: #7e7e7e;
  position: absolute;
  bottom: -14px;
  right: 0;
  left: 0;
  margin: 0 auto;
}

#services p, #facts p {
  font-family: "Myriad Pro";
  color: #7e7e7e;
}

#services span, #facts span {
  color: #b88b58;
  font-size: 59px;
}

#projects h1 {
  font-size: 30px;
  font-family: "Montserrat";
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
}

#projects h2 {
  color: #aeaeae;
  font-size: 16px;
  margin-bottom: 50px;
}

#projects ul {
  list-style-type: none;
  height: 60px;
  margin-bottom: 60px;
}

#projects ul li {
  padding: 0 14px;
  position: relative;
  display: inline-block;
  margin-right: -4px;
  height: 100%;
  border-top: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
  background-color: #ededed;
}

#projects ul li::before {
  content: "";
  height: 80%;
  background-color: #cfcfcf;
  width: 1px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 8%;
}

#projects ul li:first-child {
  padding-left: 45px;
  border-radius: 25px 0px 0px 25px;
  border-left: 1px solid #cfcfcf;
}

#projects ul li:last-child {
  padding-right: 45px;
  border-radius: 0px 25px 25px 0px;
  border-right: 1px solid #cfcfcf;
}

#projects ul li:last-child:before {
  display: none;
}

#projects ul li button {
  position: relative;
  height: 100%;
  border: none;
  background-color: inherit;
}

#projects ul li .active:after, #projects ul li button:hover:after {
  content: "";
  height: 5px;
  background-color: #b88b58;
  width: 100%;
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#projects img {
  margin-bottom: 30px;
  display: inline-block;
}

#projects a {
  border-radius: 20px;
  background-color: #b88b58;
  width: 194px;
  height: 45px;
  display: block;
  line-height: 45px;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  transition: 0.6s;
  cursor: pointer;
  margin: 0 auto;
}

#projects a:hover {
  background-color: #000;
}

#team {
  position: relative;
}

#team #background {
  position: absolute;
  background-image: url("../images/bg2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -2;
}

#team h1 {
  font-size: 30px;
  font-family: "Montserrat";
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
}

#team h2 {
  color: #aeaeae;
  font-size: 16px;
  margin-bottom: 50px;
}

#team div[class*="col-sm-4"] {
  background-color: #fff;
  border-radius: 3px;
  height: 432px;
  background-clip: content-box;
  color: #000;
}

#team div[class*="col-sm-4"] img {
  width: 183px;
  height: 183px;
  margin-top: 45px;
  margin-bottom: 25px;
  border: none;
  border-radius: 50%;
}

#team div[class*="col-sm-4"] div {
  display: inline-flex;
  margin-top: 20px;
}

#team div[class*="col-sm-4"] div a {
  border-radius: 50%;
  background-color: #bebebe;
  width: 33px;
  height: 33px;
  display: block;
  color: #fff;
  line-height: 33px;
  margin-right: 7px;
  transition: 0.6s;
  border: none;
}

#team div[class*="col-sm-4"] div a:hover {
  background-color: #b88b58;
}

#team .carousel-indicators {
  bottom: -70px;
}

#team .carousel-indicators li {
  border: 1px solid #b88b58;
}

#team .carousel-indicators .active {
  background-color: #b88b58;
}

#clients {
  padding-bottom: 0;
}

#clients h1 {
  font-size: 30px;
  font-family: "Montserrat";
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
}

#clients h2 {
  color: #aeaeae;
  font-size: 16px;
  margin-bottom: 50px;
}

#clients h3 {
  font-size: 24px;
  font-family: "Montserrat";
  color: black;
  font-weight: bold;
  line-height: 0.75;
}

#clients h4 {
  font-size: 18px;
  font-family: "Montserrat";
  color: black;
  line-height: 1;
  margin: 0;
  margin-bottom: 50px;
}

#clients i {
  font-size: 30px;
  margin-bottom: 15px;
}

#clients p {
  margin-left: 20%;
  margin-right: 20%;
}

#clients img {
  margin-top: 55px;
  height: 50px;
  width: 100px;
}

#clients .item img {
  margin-top: 0;
  width: 184px;
  height: 184px;
  border: none;
  border-radius: 50%;
}

#clients div[class*="container-fluid"] {
  margin-top: 100px;
  border-top: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
  background-color: white;
  height: 160px;
}

#clients .carousel-indicators {
  bottom: -70px;
}

#clients .carousel-indicators li {
  border: 1px solid #b88b58;
}

#clients .carousel-indicators .active {
  background-color: #b88b58;
}

#price {
  background-color: #ededed;
}

#price h1 {
  font-size: 30px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

#price div[class*="col-sm-3"] {
  height: 343px;
  background-color: #fff;
  border-radius: 3px;
  background-clip: content-box;
}

#price div[class*="col-sm-3"] h1:after {
  content: "/ month";
  display: block;
  color: #aeaeae;
  font-size: 10px;
  margin-bottom: 25px;
}

#price h2 {
  color: #aeaeae;
  font-size: 16px;
  margin-bottom: 45px;
  margin-top: 15px;
}

#price h3 {
  font-size: 14px;
  color: #242424;
  text-transform: uppercase;
  margin-bottom: 10px;
}

#price p {
  font-size: 10px;
  color: #7e7e7e;
  margin-bottom: 18px;
  position: relative;
}

#price p:after {
  content: "";
  width: 7px;
  height: 1px;
  background-color: #7e7e7e;
  position: absolute;
  bottom: -10px;
  margin: 0 auto;
  right: 0;
  left: 0;
}

#price p:last-of-type:after {
  display: none;
}

#price a {
  border-radius: 20px;
  background-color: #363636;
  width: 129px;
  height: 45px;
  display: block;
  margin: 0 auto;
  line-height: 45px;
  font-size: 12px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.6s;
}

#price a:hover {
  background-color: #b88b58;
}

#price .premium {
  margin-top: 60px;
  padding-top: 60px;
  background-color: #fff;
  border-top: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
  margin-bottom: -100px;
}

#price .premium div[class*="col-sm-5"] img {
  width: 100%;
}

#price .premium .item {
  text-align: left;
}

#price .premium .item h1 {
  font-size: 21px;
}

#price .premium .item h2 {
  font-size: 14px;
  line-height: 30px;
}

#price .premium .carousel-indicators {
  bottom: -70px;
}

#price .premium .carousel-indicators li {
  border: 1px solid #b88b58;
}

#price .premium .carousel-indicators .active {
  background-color: #b88b58;
}

#price .premium #myCarousel3 {
  border-bottom: 1px solid #d8d8d8;
}

#price .premium a {
  display: block;
  margin-top: 90px;
  border-radius: 20px;
  background-color: #b88b58;
  width: 194px;
  height: 45px;
  margin-bottom: 60px;
  transition: 0.6s;
}

#price .premium a:hover {
  background-color: #000;
}

.slideanim {
  visibility: hidden;
}

.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
    width: 100%;
    margin-bottom: 35px;
  }
  .navbar-nav {
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */