@font-face {
    font-family: "Myriad Pro";
    src: url("../fonts/MyriadPro-Regular.otf") format("opentype");
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, li , a {
    font-family: "Montserrat";
}
.h1, .h2 {
    font-weight: bold;
    text-transform: uppercase;
}
.h1 {
    font-size: 30px;
    margin: 0;
    margin-bottom: 15px;
}
.h2 {
    font-size: 16px;
    color: #aeaeae;
    margin: 0;
    margin-bottom: 50px;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none;
}
.container {
    @media screen and (min-width: 768px) {
        width: 100%;
    }
}
body {    
    padding: 0;
    margin: 0;
    background-color: #f7f7f7;
    font-family: "Montserrat";
}
section:nth-child(n+2) {
    padding: 100px 0;
}
button {
    outline: 0;
} 
$color1: #b88b58;
.button, .button-round {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    -webkit-transition: 0.6s;
    transition: 0.6s;  
    cursor: pointer;
    border: none;
    color: #fff;
    &:hover {
        background-color: #000;
        color: #fff;
    }
}
.button {  
    border-radius: 20px;
    background-color: $color1;
    width: 194px;
    height: 45px;
    display: block;
    line-height: 45px;
    font-size: 12px; 
    margin: 0 auto;  
}
.button-round {
    border-radius: 50%;
    background-color: rgb(184, 139, 88);
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 1, 0.24);
    position: absolute;
    width: 65px;
    height: 65px;
    font-size: 45px;
    line-height: 65px;
}
.carousel-indicators {
    li {
        border: 1px solid $color1;
    }
    .active, li:hover {
        background-color: $color1;
    }
}
.navbar {
    height: 100px;
    margin-bottom: 0;
    background-color: #000;
    z-index: 9999;
    border: 0;
    border-radius: 0;
    margin: 0;
    .navbar-header {
         height: 99px;
    }
    .navbar-collapse {
        @media (max-width: 768px) {
            max-height: calc(100vh - 100px);
            max-width: 50%;
            padding: 0;
        }
    }
    ul {
        margin: 0;
        li {
            a {
                height: 100px;
                line-height: 100px;
                padding: 5px;
                font-size: 12px;
                color: #fff!important;
                font-weight: 900;
                text-transform: uppercase;
                text-align: left;
                letter-spacing: -0.5px;
                background-color: #000;
                text-align: center;
                @media (max-width: 768px) {
                    height: 50px;
                    line-height: 50px;
                    padding: 0;
                }         
            }
        }
    }
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    background-color: #000;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #000;
    &:after {
        content: "";
        height: 6px;
        background-color: $color1;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
#home {
    position: relative;
    #myCarousel {
        img {
            -o-object-fit: cover;
               object-fit: cover;
            width: 100%;
            height: calc(100vh - 100px);
        }
        .carousel-inner {
            margin-top: 100px;
            height: calc(100vh - 100px);
            h1, h2 {
                @extend .h1; 
                font-size: 72px;
                color: #fff;            
            }
            h2 {
                color: $color1;
            }
            p {
                font-size: 24px;
                color: #fff;
                font-weight: bold;
                text-transform: uppercase;
                line-height: 0.75;
                text-align: center;
                margin-bottom: 45px;       
            }
            a {
                @extend .button;
            }

        }
        .carousel-caption {
            top: 5%;
            left: 0;
            right: 0;
        }
    }
    a {
        bottom: -30px;
        right: 50px;
        font-size: 45px;
    }
}
#about {
    h1, h2 {
        @extend .h1;
    }
    h2 {
        @extend .h2;
    }
    p { 
        font-size: 14px;
        font-family: "Myriad Pro";
        text-align: left;
        margin-bottom: 60px;   
    }
    video {
        width: 90%;
        -webkit-box-shadow: 0px 15px 50px 10px rgba(0,0,0,0.5);
        box-shadow: 0px 15px 50px 10px rgba(0,0,0,0.5);
        @media screen and (max-width: 768px) {
            margin-top: 50px;
        }
        
    }
    a {
        @extend .button;
        margin: 0;
    }
}
#services, #facts {
    background-color: #000;
    h1 {
        @extend .h1;
        color: #fff;
    }
    h2 {
        @extend .h2;
    }
    h3 {
        font-size: 18px;
        font-family: "Myriad Pro";
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        text-align: center;
    }
    h4 {
        color: $color1;
        font-size: 48px;
        font-size: 900;
        position: relative;
        margin-bottom: 30px;
        &:after {
            content: "";
            width: 19px;
            height: 2px;
            background-color: #7e7e7e;
            position: absolute;
            bottom: -14px;
            right: 0;
            left: 0;
            margin: 0 auto;
        }
    }
    p {
        font-family: "Myriad Pro";
        color: #7e7e7e;
    }
    span {
        color: $color1;
        font-size: 59px;
    }
}
#services div[class*="col-sm-3"] {
    border-right: 1px solid #383838;
    border-left: 1px solid #383838;
}
#projects {
    h1 {
        @extend .h1;
        color: rgb(0, 0, 0);
    }
    h2 {
        @extend .h2;
    }
    ul {
        list-style-type: none;
        margin-bottom: 60px;
        li {
            padding: 0 14px;
            position: relative;
            display: inline-block;
            margin-right: -4px;;
            height: 60px;
            border-top: 1px solid #cfcfcf;
            border-bottom: 1px solid #cfcfcf;
            background-color: #ededed;
            margin-bottom: 5px;
            &::before {
                content: "";
                height: 80%;
                background-color: #cfcfcf;
                width: 1px;
                position: absolute;
                top: 0;
                right: 0;
                margin-top: 8%;
            }
            &:first-child {
                padding-left: 45px;
                border-radius: 25px 0px 0px 25px;
                border-left: 1px solid #cfcfcf;
                @media screen and (max-width: 600px) {
                    padding-left: 15px;
                    border-radius: 0;
                }
            }
            &:last-child {
                padding-right: 45px;
                border-radius: 0px 25px 25px 0px;
                border-right: 1px solid #cfcfcf;
                &:before {
                    display: none;
                }
                @media screen and (max-width: 600px) {
                    padding-right: 15px;
                    border-radius: 0;
                }
            }
            button {
                position: relative;
                height: 100%;
                border: none;
                background-color: inherit;                
            }
            .active, button:hover {
                &:after {
                    content: "";
                    height: 5px;
                    background-color: $color1;
                    width: 100%;
                    position: absolute;
                    bottom: -1px;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                }
            }
        }
    }
    img {
        margin-bottom: 30px;
        display: inline-block;
    }
    a {
        @extend .button;
    }
}
#team {
    position: relative;
    #background {
        position: absolute;
        background-image: url("../images/bg2.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -2;
    }
    h1 {
        @extend .h1;
        color: #fff;
    }
    h2 {
        @extend .h2;
    }
    div[class*="col-sm-4"] {
        background-color: #fff;
        border-radius: 3px;
        height: 432px;
        background-clip: content-box;
        color: #000;
        img { 
            width: 183px;
            height: 183px;
            margin-top: 45px;
            margin-bottom: 25px;
            border: none;
            border-radius: 50%;
        }
        div {
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            margin-top: 20px;
            a {
                border-radius: 50%;
                background-color: rgb(190, 190, 190);
                width: 2.9vw;
                height: 2.9vw;
                display: block;
                color: #fff;
                line-height: 2.9vw;
                margin-right: 7px;
                -webkit-transition: 0.6s;
                transition: 0.6s;
                border: none;
                &:hover {
                    background-color: $color1;
                }
                @media screen and (min-width: 1400px) {
                    width: 33px;
                    height: 33px;
                    line-height: 33px;
                }
                @media screen and (max-width: 768px) {
                    width: 33px;
                    height: 33px;
                    line-height: 33px;
                }
            }  
        }
        
    }
    .carousel-indicators {
        bottom: -70px; 
    }
}
#clients {
    padding-bottom: 0;
    h1 {
        @extend .h1;
        color: #000;
    }
    h2 {
        @extend .h2;
    }
    h3 {
        font-size: 24px;
        color: rgb(0, 0, 0);
        font-weight: bold;
    }
    h4 {
        font-size: 18px;
        color: rgb(0, 0, 0);
        margin: 0;
        margin-bottom: 50px;
    }
    i {
        font-size: 30px;
        margin-bottom: 15px;
    }
    p {
        margin-left: 20%;
        margin-right: 20%;
    }
    img {
        margin: 40px 0;
        height: 50px;
        width: 100%;
    }
    .item img {
        margin-top: 0;
        width: 184px;
        height: 184px;
        border: none;
        border-radius: 50%;
    }
    div[class*="container-fluid"] {
        margin-top: 100px;
        border-top: 1px solid rgb(207, 207, 207);
        border-bottom: 1px solid rgb(207, 207, 207);
        background-color: rgb(255, 255, 255); 
    }
    .carousel-indicators {
        bottom: -70px;
    }
}
#price {
    background-color: #ededed;
    h1 {
        @extend .h1;
        color: #000;
        margin: 0; 
    } 
    div[class*="col-sm-3"] {
        height: 343px;
        background-color: #fff;
        border-radius: 3px;
        background-clip: content-box;  
        h1:after {
            content: "/ month";
            display: block;
            color: rgb(174, 174, 174);
            font-size: 10px;
            margin-bottom: 25px;
        }
    } 
    h2 {
        @extend .h2;
    }
    h3 {
        font-size: 14px;
        color: rgb(36, 36, 36);
        text-transform: uppercase;
        margin-bottom: 10px;        
    }
    p {
        font-size: 10px;
        color: rgb(126, 126, 126);
        margin-bottom: 18px;
        position: relative;
        &:after {
            content: "";
            width: 7px; 
            height: 1px;
            background-color: rgb(126, 126, 126);
            position: absolute;
            bottom: -10px;
            margin: 0 auto;
            right: 0;
            left: 0;
        }
        &:last-of-type:after {
            display: none;
        }           
    }
    a {
        @extend .button;
        background-color: #363636;         
        &:hover {
            background-color: $color1;
        }  
    }
    .premium {
        margin-top: 60px;
        padding-top: 60px;
        background-color: #fff;
        border-top: 1px solid rgb(207, 207, 207); 
        border-bottom: 1px solid rgb(207, 207, 207); 
        margin-bottom: -100px;
        div[class*="col-sm-5"] img {
            width: 100%;
        }
        .item {
            text-align: left;
            h1 {
                font-size: 21px;
            }
            h2 {
                font-size: 14px;
                line-height: 30px;
            }
        }
        .carousel-indicators {
            bottom: -70px;
        }
        #myCarousel3 {
            border-bottom: 1px solid #d8d8d8;
        }
        a {
            @extend .button;
            margin-bottom: 60px; 
            margin-top: 90px; 
        }
    }   
}
#facts {
    padding-bottom: 0;
    .share {
        width: 100%;
        border-top: 1px solid #cfcfcf;
        border-bottom: 1px solid #cfcfcf;
        background-color: #fff;
        line-height: 75px;
        h2 {
            display: inline-block;
            font-size: 14px;
            color: rgb(174, 174, 174);
            font-weight: bold;
            text-transform: uppercase;
            margin-right: 60px;             
        }
        i {
            margin-right: 5px;
        }
        i[class*="fas fa-share-alt"] {
            color: #bebebe;
            font-size: 25px;
            vertical-align: middle;
            margin-bottom: 5px;
        }
        button {
            background-color: transparent;
            border: none;
            display: inline-block;
            font-size: 14px;
            color: rgb(174, 174, 174);
            font-weight: bold;
            text-transform: uppercase;
            margin-right: 60px; 
            i {
                border-radius: 50%;
                color: #fff;
                width: 33px;
                height: 33px;
                font-size: 14px;
                line-height: 33px;
            }
            &:nth-of-type(1) i {
                background-color: #34c5f0;
            }
            &:nth-of-type(2) i {
                background-color: #127cb4;
            }
            &:nth-of-type(3) i {
                background-color: #326297;
            }
            &:nth-of-type(4) i {
                background-color: #e74237;
            }
            &:nth-of-type(5) i {
                background-color: #b71c29;
            }
            &:hover i {
                background-color: #000;
            }
           
        }
    }
}
#contact {
    h1 {
        @extend .h1;
        color: #000;
    }
    h2 {
        @extend .h2;
        margin-bottom: 80px;
    }
    form {
        input, textarea {
            border:none;
            background-color: inherit;
            border-bottom: 2px solid #aeaeae;
            font-size: 13px;
            color: rgb(158, 158, 158);
            text-transform: uppercase;
            padding: 15px;
            resize: none;
            -webkit-transition: 0.6s;
            transition: 0.6s; 
            &:active, &:target, &:hover {
                border-bottom: 2px solid #000;
                outline: #000;
            }
        }
        textarea {
            margin-bottom: 50px;
        }
        button[type*="submit"] {
            @extend .button;
            margin-bottom: 75px;
        } 
    }
    .map {
        padding: 0;
        position: relative;
        div[class*="col-sm-6"] {
            position: absolute;
            background-color: #fff;
            z-index: 111;
            max-width: 540px;
            margin-top: 40px;
            padding-top: 30px;
            padding-bottom: 30px;
            i {
                color: #fff;
                border: none;
                border-radius: 50%;
                background-color: rgb(190, 190, 190);
                width: 35px;
                height: 35px;
                padding: 8px;
                font-size: 20px;
                margin-bottom: 15px;
                margin-left: 35px;
            }
            p {
                display: inline-block;
                font-size: 12px;
                color: rgb(126, 126, 126);
                text-align: left;
                margin-left: 15px;
            }
        }
        #googleMap {
            height:420px;
            width:100%;
            position: relative;  
        }
    }
    
}
footer {
    background-color: #000;
    padding: 30px;
    position: relative;
    .button-round {
        top: -30px;
        left: 30px;
    }
    a {
        display: inline-block;
        border-radius: 50%;
        background-color: rgb(55, 55, 55);
        width: 33px;
        height: 33px;
        line-height: 33px;
        color: #fff;
        text-decoration: none;
        -webkit-transition: 0.6s;
        transition: 0.6s;
        margin-bottom: 10px;
        cursor: pointer;
        &:hover {
            background-color: $color1;
            color: #fff;
        }    
    }
    p {
        font-size: 12px;
        color: rgb(126, 126, 126);
        text-align: left;
    }
    div[class*="col-sm-4"]:nth-last-of-type(2) {
        border-radius: 3px;
        background-color: #373737;
        height: 198px;
        padding: 45px 65px;
        input {
            margin: 0 auto;
            border: none;
            display: block;
            background-color: inherit;
            font-size: 13px;
            color: rgb(158, 158, 158);
            text-transform: uppercase;    
            text-align: center;
            border-bottom: 2px solid #aeaeae;
            margin-bottom: 30px;
            -webkit-transition: 0.6s;
            transition: 0.6s;
            padding: 15px;
            &:active, &:hover {
                border-color: #fff;
            }    
        }
        button[type*="submit"] {
            @extend .button;
        }
    }
    .owner {
        position: absolute;
        bottom: 0;
        left: 0; 
        color: rgb(255, 255, 255);   
        button {
            border: none;
            background-color: inherit;
            font-size: 16px;
            &:hover {
                color: $color1;
            }
        }
        h1 {
            font-size: 14px;
        }   
    }
}
.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
            transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
 

